/* -------------------------------- 

File#: _1_vertical-timeline
Title: Vertical Timeline
Descr: A vertical timeline used to display a sequence of events/steps
Usage: codyhouse.co/license

-------------------------------- */
:root {
    --v-timeline-marker-size: 16px;
    --v-timeline-track-width: 2px;
    --v-timeline-triangle-size: 12px;
    --v-timeline-sections-gap: var(--space-lg);
    --v-timeline-items-gap: var(--space-sm);
}

.v-timeline {
    position: relative;
    padding: var(--space-lg) 0;
}

.v-timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc((var(--v-timeline-marker-size) - var(--v-timeline-track-width))*0.5);
    height: 100%;
    width: var(--v-timeline-track-width);
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.1);
}

.v-timeline__section {
    position: relative;
    display: flex;
}

.v-timeline__section:not(:last-of-type) {
    margin-bottom: var(--v-timeline-sections-gap);
}

.v-timeline__marker {
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    height: var(--v-timeline-marker-size);
    width: var(--v-timeline-marker-size);
    border-radius: 50%;
    margin-right: calc(var(--v-timeline-triangle-size) + var(--space-xxs));
}

.v-timeline__item {
    position: relative;
    top: calc(0.5 * var(--v-timeline-marker-size));
    flex-grow: 1;
}

.v-timeline__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--v-timeline-triangle-size) + 1px);
    height: var(--v-timeline-triangle-size);
    width: var(--v-timeline-triangle-size);
    background-color: inherit;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.v-timeline__item:not(:last-child) {
    margin-bottom: var(--v-timeline-items-gap);
}

.v-timeline__item:not(:first-child) .v-timeline__date {
    display: none;
}

.v-timeline__item:not(:first-child)::before {
    display: none;
}

.v-timeline__date-value {
    color: var(--color-contrast-medium);
    font-size: var(--text-sm);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@media not all and (min-width: 64rem) {
    .v-timeline__item:first-child {
        border-top-left-radius: 0;
    }
}

@media (min-width: 64rem) {
    .v-timeline::before {
        left: calc(50% - var(--v-timeline-track-width)/2);
    }

    .v-timeline__section {
        width: calc(50% + var(--v-timeline-marker-size)/2);
    }

    .v-timeline__section:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .v-timeline__section:nth-child(odd) .v-timeline__marker {
        margin-right: 0;
        margin-left: calc(var(--v-timeline-triangle-size) + var(--space-xxs));
    }

    .v-timeline__section:nth-child(odd) .v-timeline__item::before {
        left: auto;
        right: calc(-1 * var(--v-timeline-triangle-size) + 1px);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .v-timeline__section:nth-child(odd) .v-timeline__item:first-child {
        border-top-right-radius: 0;
    }

    .v-timeline__section:nth-child(odd) .v-timeline__date {
        right: calc(-2 * (var(--v-timeline-triangle-size) + var(--space-xxs)) - var(--v-timeline-marker-size));
        -webkit-transform: translateX(100%) translateY(-50%);
        transform: translateX(100%) translateY(-50%);
    }

    .v-timeline__section:nth-child(even) {
        margin-left: auto;
    }

    .v-timeline__section:nth-child(even) .v-timeline__item:first-child {
        border-top-left-radius: 0;
    }

    .v-timeline__section:nth-child(even) .v-timeline__date {
        left: calc(-2 * (var(--v-timeline-triangle-size) + var(--space-xxs)) - var(--v-timeline-marker-size));
        -webkit-transform: translateX(-100%) translateY(-50%);
        transform: translateX(-100%) translateY(-50%);
    }

    .v-timeline__section--is-hidden {
        opacity: 0;
    }

    .v-timeline__date {
        position: absolute;
        top: 0;
        white-space: nowrap;
    }

    .js .v-timeline[data-animation=on] .v-timeline__marker {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        transition: opacity 0.6s, -webkit-transform 0.6s var(--ease-out);
        transition: transform 0.6s var(--ease-out), opacity 0.6s;
        transition: transform 0.6s var(--ease-out), opacity 0.6s, -webkit-transform 0.6s var(--ease-out);
    }

    .js .v-timeline[data-animation=on] .v-timeline__item {
        opacity: 0;
        transition: opacity 0.6s, -webkit-transform 0.6s var(--ease-out);
        transition: transform 0.6s var(--ease-out), opacity 0.6s;
        transition: transform 0.6s var(--ease-out), opacity 0.6s, -webkit-transform 0.6s var(--ease-out);
    }

    .js .v-timeline[data-animation=on] .v-timeline__section:nth-child(odd) .v-timeline__item {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
    }

    .js .v-timeline[data-animation=on] .v-timeline__section:nth-child(even) .v-timeline__item {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
    }

    .js .v-timeline[data-animation=on] .v-timeline__section--animate .v-timeline__item {
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
        opacity: 1;
    }

    .js .v-timeline[data-animation=on] .v-timeline__section--animate .v-timeline__marker {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.v-timeline--icons {
    --v-timeline-marker-size: 3em;
}